extends base

block content 
  main.main
    .forgot-password-form
      h2.heading-secondary-lower-case.ma-bt-lg Please enter your email to reset password
      form.form.form--forgot-password.ma-bt-lg
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green.btn--login Send